<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">Cookbook</a>
    <form class="d-flex ms-3" (ngSubmit)="onSearch()">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Rechercher un produit"
        [(ngModel)]="query"
        name="query"
        required
      />
      <button class="btn btn-outline-primary" type="submit">
        Search
      </button>
    </form>
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes">Recette</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary ms-2" routerLink="/recipes/new">
            + Ajout recette
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container my-5">
  <router-outlet></router-outlet>
</div>

