<h2>Résultats pour "{{ query }}"</h2>

<p *ngIf="loading">Recherche en cours...</p>

<p *ngIf="!loading && noResult">
  Aucun résultat trouvé
</p>

<div class="row" *ngIf="results.length > 0">
  <div class="col-md-4 mb-3" *ngFor="let item of results">
    <div class="card h-100">
      <img
        *ngIf="item.image_front_url"
        [src]="item.image_front_url"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">
          {{ item.product_name || 'Produit sans nom' }}
        </h5>
      </div>
    </div>
  </div>
</div>
